solutions/Vantage_LOS/Workflows/vl_Applicant_UpdateOldestApplicantDOB-2B014E2E-1E3A-F011-B4CB-000D3ACB2859.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "vl_sharedcommondataserviceforapps_04816"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_Applicant_Added_Or_Modified": {
          "metadata": {
            "operationMetadataId": "eefdac83-cf61-4e1c-a481-d778fea2a907"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "vl_applicant",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "vl_dateofbirth"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Main": {
          "actions": {
            "List_Applicants": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "503b5ab1-2408-4e9f-af30-07b9b763c164"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "vl_applicants",
                  "$filter": "_vl_applicationid_value eq '@{triggerOutputs()?['body/_vl_applicationid_value']}'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "For_Each_Applicants": {
              "foreach": "@outputs('List_Applicants')?['body/value']",
              "actions": {
                "Age": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "a66e0822-aa00-4bcf-9404-c4e886a7f8c2"
                  },
                  "type": "Compose",
                  "inputs": "@int(items('For_Each_Applicants')?['vl_age'])"
                },
                "Check_Applicant_Age": {
                  "actions": {
                    "Set_varApplicantAge": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "95ff303e-3584-4931-8350-9a201dff8011"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "varApplicantAge",
                        "value": "@outputs('Age')"
                      }
                    },
                    "Set_varApplicatDOB": {
                      "runAfter": {
                        "Set_varApplicantAge": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "c792f5ae-cc2f-46b4-a604-36ddba191850"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "varApplicantDOB",
                        "value": "@items('For_Each_Applicants')?['vl_dateofbirth']"
                      }
                    }
                  },
                  "runAfter": {
                    "Age": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "less": [
                      "@variables('varApplicantAge')",
                      "@outputs('Age')"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "3dcf020e-2eaa-4532-b498-67262e8ab375"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "List_Applicants": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1be5c44e-0d27-4ff7-84f9-27f4f3d65ea4"
              },
              "type": "Foreach"
            },
            "Update_Application_With_Oldest_Applicat": {
              "runAfter": {
                "For_Each_Applicants": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d5f19faa-80bf-4662-9bb5-00ea033f622b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateOnlyRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "vl_applicationses",
                  "recordId": "@triggerOutputs()?['body/_vl_applicationid_value']",
                  "item/vl_oldestapplicantdob": "@variables('varApplicantDOB')"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Initialize_varApplicantDOB": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "89744c40-b76e-4ea0-b60b-64c2530bfa7d"
          },
          "type": "Scope"
        },
        "Initialize_varApplicantAge": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "3b299695-9229-42e0-8c1a-cc5e59f0bbeb"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varApplicantAge",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Initialize_varApplicantDOB": {
          "runAfter": {
            "Initialize_varApplicantAge": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "419262e6-578b-4a8a-97fb-2143a9a2de11"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varApplicantDOB",
                "type": "string"
              }
            ]
          }
        },
        "On_Error": {
          "actions": {
            "Filter_Error_Details": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "223e1a03-a03c-4f26-bb79-37641cf21c59"
              },
              "type": "Query",
              "inputs": {
                "from": "@result('Main')",
                "where": "@equals(item()?['status'], 'Failed')"
              }
            },
            "Add_Error_Details": {
              "runAfter": {
                "Filter_Error_Details": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5013bf4d-e81f-4089-b982-bda6b33b358d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "vl_errorhandlings",
                  "item/vl_component": "@first(body('Filter_Error_Details'))?['name']",
                  "item/vl_errorcode": "@first(body('Filter_Error_Details'))?['error']?['code']",
                  "item/vl_errormessage": "@first(body('Filter_Error_Details'))?['error']?['message']",
                  "item/vl_errorsource": 127420001,
                  "item/vl_sourcename": "@workflow().tags.flowDisplayName"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Main": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "1093870c-3f7e-4e06-80e2-b54611e2a113"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}