solutions/Vantage_LOS/Workflows/vl_SupportDocuments_CreateLiabilitySupportDocument-F3A46465-3832-F011-8C4E-0022481138EB.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "vl_sharedcommondataserviceforapps_04816"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_Liability_Added_Or_Modified": {
          "metadata": {
            "operationMetadataId": "127ff6b1-d1d5-470c-8260-034cbd9a6173"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "vl_liabilities",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "vl_liabilitytype,vl_creditaccount",
              "subscriptionRequest/filterexpression": "vl_liabilitytype eq 127420000 or vl_liabilitytype eq 127420003"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Main": {
          "actions": {
            "Get_Existing_Liability_Support_Documents": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "c7ec0f04-3b34-4ef7-aa58-1c9fd3517c2b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "vl_supportingdocumentses",
                  "$filter": "_vl_liabilityid_value eq '@{triggerOutputs()?['body/vl_liabilitiesid']}' and vl_documentsubcategory eq 127420004"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "For_Each_Existing_Support_Documents": {
              "foreach": "@outputs('Get_Existing_Liability_Support_Documents')?['body/value']",
              "actions": {
                "Delete_Existing_Support_Documents": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "3e38bf37-a24c-4bcb-850d-6cd44607cc32"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "DeleteRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "vl_supportingdocumentses",
                      "recordId": "@items('For_Each_Existing_Support_Documents')?['vl_supportingdocumentsid']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Get_Existing_Liability_Support_Documents": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0cce2714-4ae3-42cb-b062-b7a1e7077051"
              },
              "type": "Foreach"
            },
            "Check_Credit_Account": {
              "actions": {
                "Add_3_Documents": {
                  "actions": {
                    "Add_Credit_Card_Statement_Support_Document": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "0251fa56-f36e-4f5f-aadc-ac4ed57a2849"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "CreateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "vl_supportingdocumentses",
                          "item/vl_ApplicantID@odata.bind": "/vl_applicants(@{triggerOutputs()?['body/_vl_applicant1id_value']})",
                          "item/vl_ApplicationID@odata.bind": "/vl_applicationses(@{triggerOutputs()?['body/_vl_applicationid_value']})",
                          "item/vl_documentname": "Credit Card Statement @{variables('varLoop')}",
                          "item/vl_documentside": 127420002,
                          "item/vl_documentsubcategory": 127420004,
                          "item/vl_documenttype": 127420007,
                          "item/vl_LiabilityID@odata.bind": "/vl_liabilitieses(@{triggerOutputs()?['body/vl_liabilitiesid']})",
                          "item/vl_supportid": "@triggerOutputs()?['body/vl_liabilitiesid']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Increment_varLoop": {
                      "runAfter": {
                        "Add_Credit_Card_Statement_Support_Document": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "9e932375-0486-45fd-8744-469269ab5bf5"
                      },
                      "type": "IncrementVariable",
                      "inputs": {
                        "name": "varLoop",
                        "value": 1
                      }
                    }
                  },
                  "runAfter": {},
                  "expression": "@equals(variables('varLoop'), 4)",
                  "limit": {
                    "count": 60,
                    "timeout": "PT1H"
                  },
                  "metadata": {
                    "operationMetadataId": "da2bcd20-6540-46a8-96a9-dd2a57349a5d"
                  },
                  "type": "Until"
                }
              },
              "runAfter": {
                "For_Each_Existing_Support_Documents": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Check_Mortgage_Loan": {
                    "actions": {
                      "Add_Home_Loan_Statement": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "2d0571de-cf90-4c70-ac24-e0d849e025a2"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "CreateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "vl_supportingdocumentses",
                            "item/vl_ApplicantID@odata.bind": "/vl_applicants(@{triggerOutputs()?['body/_vl_applicant1id_value']})",
                            "item/vl_ApplicationID@odata.bind": "/vl_applicationses(@{triggerOutputs()?['body/_vl_applicationid_value']})",
                            "item/vl_documentname": "Home Loan Statement",
                            "item/vl_documentside": 127420002,
                            "item/vl_documentsubcategory": 127420004,
                            "item/vl_documenttype": 127420015,
                            "item/vl_LiabilityID@odata.bind": "/vl_liabilitieses(@{triggerOutputs()?['body/vl_liabilitiesid']})",
                            "item/vl_supportid": "@triggerOutputs()?['body/vl_liabilitiesid']"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    },
                    "runAfter": {},
                    "expression": {
                      "and": [
                        {
                          "equals": [
                            "@triggerOutputs()?['body/vl_liabilitytype']",
                            127420003
                          ]
                        }
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "298750c3-e37f-4be6-b424-c01117599266"
                    },
                    "type": "If"
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@triggerOutputs()?['body/vl_liabilitytype']",
                      127420000
                    ]
                  },
                  {
                    "equals": [
                      "@triggerOutputs()?['body/vl_creditaccount']",
                      127420000
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "b9ab7024-4086-4140-8e1a-b95099fb3fea"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_varLoop": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "dca5dcc4-1031-452c-8069-1b4f5e1da23e"
          },
          "type": "Scope"
        },
        "Initialize_varLoop": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "9ce21238-730c-4e7c-b181-ab1606e09b38"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varLoop",
                "type": "integer",
                "value": 1
              }
            ]
          }
        },
        "On_Error": {
          "actions": {
            "Filter_Error_Details": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "f9382e82-47c9-4ad7-80a4-76622b4f018a"
              },
              "type": "Query",
              "inputs": {
                "from": "@result('Main')",
                "where": "@equals(item()?['status'], 'Failed')"
              }
            },
            "Add_Error_Details": {
              "runAfter": {
                "Filter_Error_Details": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "479feb79-8450-4440-8d02-554cd724efd4"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "vl_errorhandlings",
                  "item/vl_component": "@first(body('Filter_Error_Details'))?['name']",
                  "item/vl_errorcode": "@first(body('Filter_Error_Details'))?['error']?['code']",
                  "item/vl_errormessage": "@first(body('Filter_Error_Details'))?['error']?['message']",
                  "item/vl_errorsource": 127420001,
                  "item/vl_sourcename": "@workflow().tags.flowDisplayName"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Main": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "bfb0d9d3-37bc-477d-a8f2-b82031b92ab7"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}